/*-------------------------------------------Colours*/

/*-------------------------------------------Heading*/

header {
    margin-top: 10px;
}

.heading {
    margin: 15px;
}

.logo {
    background: url(../images/Rebytek\ resyzed\ 120.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    width: 200px;
}

@media(max-width: 767px) {
    .nav-item {
        text-align: center;}
}

@media(max-width: 767px) {
    .logo {
        display: none;}
}

@media(max-width: 767px) {
article {
        height: 226px;
        background: url(../images/Rebytek-logo2-media-query.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
}

@media(min-width: 768px) {
    .nav-item {
        margin: 15px;}
}

.nav-name {
    color: #000732;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
}