@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
/*-------------------------------------------Colours*/

/*-------------------------------------------Header*/
header{
    font-family: "Roboto", sans-serif;
}

.logo {
    background: url(../images/Rebytek\ resyzed\ 120.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 120px;
    width: 200px;
}

.nav-name {
    color: #000732;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

.nav-name:hover {
    color: #dc3545;
}

.btn {
    margin-top: -3px;
    padding: 3px;
    border-radius: 25%;
}

.btn:hover {
    color: #fafafa;
}

/*-------------------------------------------Media Queries*/

@media(max-width: 767px) {
    .nav-item {
        text-align: center;}
}

@media(max-width: 767px) {
    .logo {
        display: none;}
}

@media(max-width: 767px) {
article {
        height: 226px;
        background: url(../images/Rebytek-logo2-media-query.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;}
}

@media(min-width: 768px) {
    .nav-item {
        margin: 15px;}
}

